{% extends 'base.html' %}

{% block title %}
Essays
{% endblock title %}

{% block body %}
<div class="container-fluid my-5">
<h1>Your Essays</h1>
<hr/>
{% if qs %}
{% for obj in qs %}
<div class="card mb-4">
	<div class="card-body">
    <p style="font-size: 20px;" class="fw-bold">{{ obj.title }}</p>
    <a href="{% url 'essay' obj.key %}" class="btn btn-outline-secondary">View</a>
	 </div>
</div>
{% endfor %}
{% else %}
<p>You don't have any essays as of right now</p>
{% endif %}
</div>
{% endblock body %}